.image-preview-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 99999;

    app-image-preview {
        width: auto;
        max-width: 100%;

        height: auto;
        max-height: 100%;
    }
}
